.sec{
    color:lightgrey;
    font-family: Baskerville, Garamond, serif;
    font-weight: bold;
    font-style: italic;
            }

.article_title{
    font-family
}

.article_body{
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}